div{
	box-sizing: border-box;
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	margin: 2%;
	padding: 2%;
	display: inline-block;
	transition: 2s ease;
	background: #fff;
	background: steelblue;
}

div:focus{
	background: #fff000;
}

div:hover{
	width: 200px;
	background: darkred;
}
			
.animate{
	opacity: 10;
	transition-property: transform,opacity,height,background,width;
	transition-duration: 1s;
	transition-delay: .2s;
	transition-timing-function: linear;
}

.animate:hover{
	transform: rotate(360deg);
	opacity: 1;
	background: #1ec7e6;
	width: 110px;
	height: 67px;
}